h1{
    color: aqua;
/* '    border: solid; */
    text-align: center;
}

html{
    background-color: blueviolet;
}

ul li{
    list-style-type: none;
}

table{
    /* border: solid; */
    background-color: lightblue;
    align-items: center;
    /* display: flex; */
    align-items: center;
    margin-left: 530px;

}

p{
    text-align: center;
}

.Submit{
    padding-left: 580px;
}

div.SignUp{
    padding-left: 670px;
}

a{
    padding-left: 10%;
}

